<<<<<<< HEAD
<h1>{{si.item}}</h1>
<p>{{si.imageurl}}</p>
=======
<section class="container">
  <div class="box">
<h1 class="title">{{si.item}}</h1>
<img src="{{si.imageurl}}"/>
>>>>>>> 09a17b3e38fe54dbbbd3df8fd2e82d64ed5bcfca
<p>{{si.desc}}</p>
<p>{{si.ingredients}}</p>
<p>{{si.prepTime}}</p>
<p>{{si.cookTime}}</p>
<p>{{si.readyTime}}</p>
<<<<<<< HEAD
<p>{{si.recsteps}}</p>
=======
<p>{{si.steps}}</p>
</div>
</section>
>>>>>>> 09a17b3e38fe54dbbbd3df8fd2e82d64ed5bcfca
